name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          
      - name: Install dependencies
        run: npm ci
        
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        
      - name: Run Playwright tests
        run: npx playwright test

      # Artifact 1: Playwright Standard HTML Report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      # Artifact 2: Your evidence in PDF (The Corporate Way)
      - uses: actions/upload-artifact@v4
        if: always() # Ensures the PDF uploads even if the test fails.
        with:
          name: test-evidence-pdf
          path: evidence/*.pdf
          retention-days: 30